/* src/components/PerhitunganKonstanta.css */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f9f9f9;
  margin: 0;
  padding: 0;
}

.larutan-asam-basa-container {
  max-width: 900px;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.larutan-asam-basa-title {
  font-size: 2em;
  color: #2c3e50;
  margin-bottom: 20px;
  text-align: center;
}

.larutan-asam-basa-subtitle {
  font-size: 1.5em;
  color: #34495e;
  margin-top: 30px;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.larutan-asam-basa-paragraph {
  font-size: 1.1em;
  color: #7f8c8d;
  line-height: 1.6;
  margin-bottom: 20px;
}

.larutan-asam-basa-pre {
  background-color: #f5f5f5;
  padding: 15px;
  border-radius: 5px;
  font-size: 1.1em;
  color: #c0392b;
  overflow-x: auto;
}

.larutan-asam-basa-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.larutan-asam-basa-table th,
.larutan-asam-basa-table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
}

.larutan-asam-basa-table th {
  background-color: #3498db;
  color: #ffffff;
}

.larutan-asam-basa-ul {
  font-size: 1.1em;
  color: #7f8c8d;
  margin-bottom: 20px;
  list-style-type: disc;
  margin-left: 20px;
}

.larutan-asam-basa-ol {
  font-size: 1.1em;
  color: #7f8c8d;
  margin-bottom: 20px;
  list-style-type: decimal;
  margin-left: 20px;
}

.larutan-asam-basa-strong {
  color: #2c3e50;
}

/* Untuk elemen gambar latar belakang */
.larutan-asam-basa-kesetimbangan-background {
  background-image: url("https://roboguru-forum-cdn.ruangguru.com/187434b7-602e-43f1-9721-f786ce71ffaf.JPG");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 300px;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
}

/* Tombol navigasi */
.larutan-asam-basa-nav-button {
  padding: 10px 20px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.larutan-asam-basa-nav-button:hover {
  background-color: #2c3e50;
}

.larutan-asam-basa-button-container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}
