
.backgroundStyle {
    background-image: url('https://wallpaperaccess.com/full/3481768.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    align-items: center;
}

.overlay{ 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width:100%;
    display: flex;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5); 
}

.display-5{
    font-family:'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.lead{
    font-family :'Gill Sans', 'Gill Sans MT','Trebuchet MS', sans-serif;
    font-size: 28px;
}

/* .btn-lg { 
    background-color: #122D4F; 
    color: #122D4F; 
    transition: transform 0.3s, 
}
.btn-lg:hover { 
    background-color: #122D4F;
    transform: scale(1.1);
} */
