/* Layout */
.quiz-container {
    display: flex;
    font-family: Arial, sans-serif;
    max-width: 1200px;
    margin: 2rem auto;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #f9f9f9;
}

/* Sidebar */
.quiz-sidebar {
    background-color: #2c3e50;
    color: white;
    padding: 1rem;
    width: 25%;
}

.question-list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.question-card {
    background-color: #34495e;
    color: white;
    padding: 0.5rem;
    border: none;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s;
    border-radius: 12px; /* Rounded corners */
}

.question-card:hover {
    background-color: #1abc9c;
}

.question-card.active {
    background-color: #3498db;
}

.question-card.correct {
    background-color: #27ae60;
}

.question-card.incorrect {
    background-color: #e74c3c;
}

/* Main Content */
.quiz-main {
    flex: 1;
    padding: 2rem;
}

/* Header */
.quiz-header {
    text-align: center;
    margin-bottom: 1rem;
}

.quiz-progress {
    font-size: 0.9rem;
    color: #555;
}

/* Body */
.options {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.option {
    padding: 1rem;
    border: none;
    border-radius: 12px; /* Rounded corners */
    background-color: #ecf0f1;
    cursor: pointer;
    text-align: left;
    transition: background-color 0.3s ease;
    width: 75%;
    margin: 0 auto;
}

.option:hover {
    background-color: #bdc3c7;
}

.option.correct {
    background-color: #27ae60;
    color: white;
}

.option.incorrect {
    background-color: #e74c3c;
    color: white;
}

.quiz-navigation {
    text-align: center;
    margin-top: 2rem;
}

.btn-nav {
    padding: 0.8rem 1.5rem;
    border: none;
    margin: 0 1rem;
    border-radius: 12px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-nav:disabled {
    background-color: #bdc3c7;
    cursor: not-allowed;
}

.btn-nav:not(:disabled) {
    background-color: #3498db;
    color: white;
}

.btn-nav:not(:disabled):hover {
    background-color: #2980b9;
}

.quiz-result {
    text-align: center;
    margin-top: 2rem;
}

.result-actions {
    margin-top: 1rem;
}

.btn-restart, .btn-close {
    padding: 1rem 2rem;
    border-radius: 12px;
    cursor: pointer;
    margin: 0.5rem;
    font-size: 1rem;
}

.btn-restart {
    background-color: #f39c12;
    color: white;
}

.btn-close {
    background-color: #e74c3c;
    color: white;
}

.btn-restart:hover {
    background-color: #e67e22;
}

.btn-close:hover {
    background-color: #c0392b;
}

.discussion-card {
    background-color: #ecf0f1;
    padding: 1rem;
    border-radius: 12px;
    margin-top: 1rem;
}

.answer-correct {
    color: #27ae60;
}

.answer-incorrect {
    color: #e74c3c;
}
.discussion-card h3 {
    margin-bottom: 0.5rem;
}
.discussion-card p {
    margin: 0.5rem 0;
}

